.header {
/* color source:https://www.w3schools.com/cssref/css_colors.asp +
  header from https://www.w3schools.com/howto/howto_css_style_header.asp*/
  background-color: steelblue;
  height: 100px;
  text-align: center;
  padding: 15px;
  color: azure;
  font-size: 18pt;
}
          
body {
  background-color: Azure;
}

/* NavBar style source:  https://www.w3schools.com/css/css_navbar_horizontal.asp  */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:#708090;
}

li {
  float: left;
}

li a {
  display: block;
  color: azure;
  font-size: 14pt;
  text-align: center;
  padding: 12px 14px;
  text-decoration: none;
}

/* Border style source:     */
h2 {
  border-style:solid;
  border-width: 1pt;
  color: black;
  font-size: 12pt;
  font-weight: bold;
}

h3 {
  font-size:12pt
}

/* source for photo https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_images_side_by_side */

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 2px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}


.p2Div {
  font-size: 11pt;
  font-style: italic;
  margin-right: 5pt;
}

.p3Div {
  font-size: 11pt;
  font-weight: normal;
  margin-right:10pt;
  }

img {
  float: right;
}



